@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@100;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto", sans-serif;
	color: rgb(43, 42, 42);
	font-size: small;
	font-weight: 300;
}
.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.hero-container {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), center / cover no-repeat url("./hero.jpg");
	height: 20%;
	display: flex;
	color: white;
	font-family: "Macondo", cursive;
	justify-content: center;
	align-items: center;
}
.hero-container > img {
	width: 15rem;
	height: auto;
}
.main-container {
	background-color: rgb(241, 237, 237);
	padding: 3rem 0;
	height: 80%;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.statement {
	margin-bottom: 1.5rem;
	padding: 0 2.5rem;
	font-size: 1.8rem;
	font-weight: 400;
}
form > .statement {
	padding: 0;
}
.form-container {
	background-color: white;
	padding: 1.5rem 0;
	padding: 1.5rem 2.5rem;
}
label {
	display: none;
}
form > * {
	margin-bottom: 1rem;
}
form > div {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
}
input::placeholder {
	text-transform: uppercase;
	opacity: 0.7;
}
input:invalid {
	border: 1px solid salmon;
}
input:valid {
	border: 1px solid rgb(53, 231, 121);
}
.btn-container {
	padding: 1.5rem 2.5rem;
}
.create-account > button {
	background-color: rgb(44, 84, 44);
	border: none;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
	color: white;
	margin-bottom: 2rem;
	cursor: pointer;
	text-transform: capitalize;
}
.login > button {
	border: none;
	color: rgb(44, 84, 44);
	cursor: pointer;
	background-color: transparent;
}
.password-container span {
	color: salmon;
	display: none;
}

@media screen and (min-width: 768px) {
	body {
		background-color: rgb(46, 41, 41);
	}
	.hero-container {
		height: auto;
	}
	.main-container {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container {
		width: min(120rem, 100%);
		margin: 0 auto;
		flex-direction: row;
		align-items: stretch;
	}
	input::placeholder {
		opacity: 0;
	}
	input {
		width: 100%;
	}

	label {
		display: block;
		text-transform: uppercase;
	}
	form > div {
		flex-direction: row;
		gap: 4rem;
	}
	.hero-title {
		text-align: center;
		padding: 4.5rem;
	}
}
